.App {
  text-align: center;
  color:black;
}

.header{
  overflow: hidden;
  padding: 20px 10px;
  background-color: grey;
  font-size: 16px;  

}
.header a{
  text-decoration: none;
  float:left;
  color: black;
  padding: 16px;

}
header button{
  font-size: 16px;  
}
.header a:hover{
  background-color: black;
  color:white;
}
li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
.header ul{
  float: right;
  list-style-type: none;
  margin:0;
  padding: 0;
}
.header li{
  display: inline;
}
.header ul li a{
  display: block;
}

.header ul li ul{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
.header ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.header ul li ul li {
  clear: both;
  width: 100%;
}
.logo a{
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
}

